main {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.illustration {
  width: 79vw;
  margin: 12vw auto 8vw auto;
}

.title {
  color: var(--white);
  font-size: 6vw;
  margin: 2.2rem 3rem 0 3rem;
}

.text {
  color: var(--white);
  font-size: 4vw;
  line-height: 6vw;
  margin: 5vw 8vw;
}

.button {
  background-color: var(--white);
	border-radius: 40vw;
  box-shadow: 0 1vw 2vw 0 hsl(257, 40%, 35%);
	color: var(--violet);
	cursor: pointer;
	display: inline-block;
	font-size: 3vw;
  margin-top: .5rem;
	padding: 3vw 20vw;
	text-decoration: none;
}

.social__media {
  display: flex;
  justify-content: space-evenly;
  margin: 15vw 30vw;

}

.icon {
  height: 3.5vw;
  margin-top: 1.35vw;
  width: 3.5vw;
}

.icon__border {
  border: .35vw solid white;
  border-radius: 50%;
  height: 6.2vw;
  width: 6.2vw;
}

.icon__border:hover {
  cursor: pointer;
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

@media screen and (min-width: 1024px) {
  main {
    flex-direction: row;
    text-align: left;
  }

  .illustration {
    margin: 0 auto 11vw 4.5vw;
    padding-bottom: 5vw;
    width: 48vw;
  }

  .info {
    margin: 0 auto;
    width: 40vw;
  }

  .title {
    font-size: 2.6vw;
    margin: 0;
    margin-right: 8vw;
    padding-top: 5vw;
  }
  
  .text {
    color: var(--white);
    font-size: 1.2vw;
    line-height: 2vw;
    margin: 2vw 3vw 1vw 0;
  }

  .button {
    border-radius: 40vw;
    box-shadow: 0 1vw 2vw 0 hsl(257, 40%, 35%);
    font-size: 1.3vw;
    margin-top: .5rem;
    padding: .8vw 4.5vw;
    text-decoration: none;
  }

  .button:hover {
    background-color: var(--softMagenta);
    color: var(--white);
  }

  .social__media {
    display: flex;
    justify-content: space-evenly;
    margin: 12vw 3vw 15vw 22vw;
  
  }
  
  .icon {
    height: 1.5vw;
    margin: .7vw 0 0 .7vw;
    width: 1.5vw;
  }
  
  .icon__border {
    border: .1vw solid white;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
  }
}